<footer class="page-footer mdsorange">
  <div class="container">
    <div class="row">
      <div class="col l3 s6">
        <h5 class="footer-header white-text">Warum wir?</h5>
        <ul>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Über uns</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Technologie</a></li>
        </ul>
      </div>
      <div class="col l3 s6">
        <h5 class="footer-header white-text">Zielgruppen</h5>
        <ul>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Veranstaltungsbetriebe</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Konzerthäuser</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Orchester</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Festivals</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Facillity Management</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Serverhosting</a></li>
        </ul>
      </div>
      <div class="col l3 s6">
        <h5 class="footer-header white-text">Module</h5>
        <ul>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Veranstaltungs- und Raummanagement</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Vermietung</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Adress- und Kontaktmanagement</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Marketing-Tools</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Werke, Interpreten, Noten & Instrumente</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Orchestermanagement</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Kalkulation, Budgetierung & Controlling</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Mobile Applications</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Facillity Management</a></li>
          <li><a class="footer-links grey-text text-lighten-3" href="#!">Serverhosting</a></li>
        </ul>
      </div>
      <div class="col l3 s6">
        <h5 class="footer-header white-text">Kontakt</h5>
        <ul>
          <li><a class="footer-links grey-text text-lighten-3" href="contact.html">Kontaktieren Sie uns</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    &copy; 2017 More Dimensions GmbH
    </div>
  </div>
</footer>
