<div class="container">
  <div class="row">

    <h2 class="center">Neuigkeiten</h2>

    <hr style="margin-bottom: 30px">

    <div class="carousel carousel-slider" data-indicators="true" style="height: 400px; margin-bottom: 50px;">

      {% for news in site.news %}

        <div class="carousel-item" href="#one!">
          <div class="row">
            <div class="col s6">
              <img class="left" src="{{ site.baseurl }}{% include directory url=news.url %}{{ news.images[0].url }}" alt="" style="max-width: 100%; height: 400px">
            </div>
            <div class="col s6">
              <div class="col s12">
                <h5>{{ news.header }}</h5>
              </div>
              <div class="col s12">
                <p>{{ news.news-text }}</p>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}

    </div>
  </div>
</div>

<!-- <div class="carousel-item" href="#one!">
  <div class="row">
    <div class="col s6">
      <img class="left" src="{{"assets/img/wkh_wiener_konzerthaus_outside1_small.jpg"}}" alt="" style="max-width: 100%; height: 400px">
    </div>
    <div class="col s6">
      <div class="col s12">
        <h5>Success Story Konzerthaus Berlin</h5>
      </div>
      <div class="col s12">
        <p>Seit 2014 ist im Konzerthaus Berlin evis im Einsatz. Inzwischen arbeiten 60 Mitarbeiterinnen und Mitarbeiter im System – Zeit für ein Gespräch mit der Projektleiterin Anna Saß über die damaligen Überlegungen, die Einführungsphase und die bisherigen Erfahrungen.</p>
      </div>
    </div>
  </div>
</div>

<div class="carousel-item" href="#two!">
  <div class="row">
    <div class="col s6">
      <img class="left" src="{{"assets/img/wkh_wiener_konzerthaus_outside1_small.jpg"}}" alt="" style="max-width: 100%; height: 400px">
    </div>
    <div class="col s6">
      <div class="col s12">
        <h5>Success Story Konzerthaus Hamburg</h5>
      </div>
      <div class="col s12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,<br><br> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div>

<div class="carousel-item" href="#three!">
  <div class="row">
    <div class="col s6">
      <img class="left" src="{{"assets/img/wkh_wiener_konzerthaus_outside1_small.jpg"}}" alt="" style="max-width: 100%; height: 400px">
    </div>
    <div class="col s6">
      <div class="col s12">
        <h5>Lorem Ipsum</h5>
      </div>
      <div class="col s12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div> -->
