<style media="screen">
  .parallax-container {
    height: 550px;
  }
</style>

<div class="parallax-container">
  <div class="parallax"><img src="banner_wien.png" alt=""></div>
</div>

<div class="container" style="position: relative;">
  <div class="row">

    <h2 class="center">Neuigkeiten</h2>

    <hr style="margin-bottom: 30px">

    <div class="col s12">

      <div class="container">
        <div class="row">

          {% for news in site.news %}

          <div class="col 12">
            <div class="row">

              <div class="col s12">
                <img src="_news/article_3/wkh_wiener_konzerthaus_outside1_small.jpg" alt="">
              </div>

              <div class="col s12" style="border: 2px solid #666">
                <h5>{{ news.header }}</h5>
                <p>{{ news.news-text }}</p>
              </div>

            </div>
          </div>

          {% endfor %}


        </div>
      </div>

    </div>

  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
