<ul id="slide-out" class="side-nav">
  <li><img src="{{"assets/img/logo_more_dimensions_with_text_bitmap_small_transparent_background.png"}}" alt="" style="height: 90px; position: absolute; left: 50%; transform: translate(-50%, 0); top: 20px"></li>
  <li class="divider" style="margin-top: 125px;"></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect">Wir</a>
        <div class="collapsible-body">
          <ul class="grey lighten-4">
            <li><a href="#!">News</a></li>
            <li><a href="#!">Referenzen</a></li>
            <li><a href="#!">Über uns</a></li>
            <li><a href="#!">Unsere Partner</a></li>
            <li><a href="contact.html">Kontakt & Impressum</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect">bieten</a>
        <div class="collapsible-body">
          <ul class="grey lighten-4">
            <li><a href="#!">Veranstaltungsmanagement</a></li>
            <li><a href="#!">Facility Management</a></li>
            <li><a href="#!">Business Intelligence</a></li>
            <li><a href="#!">Hosting</a></li>
            <li><a href="#!">Dienstleistungen</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect">Lösungen</a>
        <div class="collapsible-body">
          <ul class="grey lighten-4">
            <li><a href="#!">Facility Management</a></li>
            <li><a href="#!">Veranstaltungs-Locations</a></li>
            <li><a href="#!">Konzerthäuser</a></li>
            <li><a href="#!">Orchester & Ensembles</a></li>
            <li><a href="#!">Festivals & Veranstalter</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>

<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>
