      <div class="teaser">
        <div class="grey lighten-4 hide-on-med-and-down">
          <div class="row">
            <div class="container" style="padding-top: 50px">
              <div class="col s4">
                <div class="row">
                  <div class="col s12 center">
                    <img src="{{"/assets/img/pictogram_intelligence_orange_bitmap.png"}}" alt="" style="max-width: 90px">
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <h5 class="center">{% page.title %}</h5>
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <p>Ob Event- oder Facility Management, professionelle Beratung oder Systemanpassung, Schnittstellen-Design oder Business Intelligence, Serverhosting oder Support: Bei <span class="mdsorange-text">more dimensions</span> erhalten Sie integrierte Werkzeuge und eine nachhaltige Betreuung für Ihren Arbeitsalltag. Durch die Kombination von Standardlösungen für Ihre Branche und individueller Anpassung befreien wir Ihre Mitarbeiter von Dingen, die eine intelligente Software für Sie erledigen kann – damit Sie sich wieder jenen Tätigkeiten widmen können, bei denen der Mensch gefragt ist. <a href="#" class="mdsorange-text">Mehr lesen...</a></p>
                  </div>
                </div>
              </div>

              <div class="col s4">
                <div class="row">
                  <div class="col s12 center">
                    <img src="{{"/assets/img/pictogram_stage_curtains_bitmap.png"}}" alt="" style="max-width: 90px">
                  </div>
                  <div class="col s12">
                    <h5 class="center">Veranstaltungsmanagement</h5>
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <p>Mit unserer Branchen-Lösung <span class="mdsorange-text">evis</span> bilden wir die Basis für das integrierte Management von Eventlocations, Konzerthäusern, Orchestern und Festivals. Ob Sie Ihre Projekte künstlerisch und organisatorisch planen und budgetieren, über die <span class="mdsorange-text">evis</span>-Kommunikationstools mit ihrem Publikum kommunizieren oder ihr Personal disponieren wollen – <span class="mdsorange-text">evis</span> bildet durch die richtige Auswahl der Module nahezu jede Konstellation des Veranstaltungsmanagements ab. <a href="#" class="mdsorange-text">Mehr lesen...</a></p>
                  </div>
                </div>
              </div>

              <div class="col s4">
                <div class="row">
                  <div class="col s12 center">
                    <img src="{{"/assets/img/pictogram_factory_violet_bitmap.png"}}" alt="" style="max-width: 90px">
                  </div>
                  <div class="col s12">
                    <h5 class="center">Facility Management</h5>
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <p>Mit der Standard-Lösung <span class="mdsorange-text">e.kus</span> unseres Partners pit-cup GmbH sowie zahlreichen von uns entwickelten Erweiterungen steht Ihnen eine erweiterbare Plattform zur Verfügung, in der Gebäude- und Flächenmanagement, Instandhaltung, Investitionsplanung sowie Schnittstellen zu weiteren Systemen für einen reibungslosen und effektiven Informationsfluss im Facility Management sorgen. <a href="#" class="mdsorange-text">Mehr lesen...</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="container">
              <div class="col s4">
                <div class="row">
                  <div class="col s12 center">
                    <img src="{{"/assets/img/pictogram_business_intelligence_orange_bitmap.png"}}" alt="" style="max-width: 90px">
                  </div>
                  <div class="col s12">
                    <h5 class="center">Business Intelligence</h5>
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <p>Auf Basis der Power-BI-Tools von Microsoft verdichten wir Ihre Daten – ob mit <span class="mdsorange-text">evis</span> oder <span class="mdsorange-text">e.kus</span> als Quelle oder zusätzlichen Datenbanken, die bei Ihnen im Einsatz sind. Wir schaffen die Verbindung zu Ihren Detailinformationen aus Rechnungswesen, Ticketing, Personalmanagement sowie öffentlichen Datenquellen und verdichten diese in Form intuitiver Dashboards, die Ihnen in Sekundenschnelle einen Überblick über Ihr unternehmerisches Handeln verschaffen. <a href="#" class="mdsorange-text">Mehr lesen...</a></p>
                  </div>
                </div>
              </div>

              <div class="col s4">
                <div class="row">
                  <div class="col s12 center">
                    <img src="{{"/assets/img/pictogram_hosting_orange_bitmap.png"}}" alt="" style="max-width: 90px">
                  </div>
                  <div class="col s12">
                    <h5 class="center">Hosting</h5>
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <p>Mit unserer eigenen Serverfarm können wir die von uns angebotenen Systeme hosten, ohne dass Sie sich im Alltag mit der dahinterliegenden Infrastruktur aus Hardware, Datenbanken, Lizenzen, Backups und Sicherheitsvorkehrungen befassen müssen. Wir liefern Ihnen ein Gesamtpaket aus Hard- und Software als Blackbox, das pro Mitarbeiter pro Monat einfach skalier- und kalkulierbar ist. <a href="#" class="mdsorange-text">Mehr lesen...</a></p>
                  </div>
                </div>
              </div>

              <div class="col s4">
                <div class="row">
                  <div class="col s12 center">
                    <img src="{{"/assets/img/pictogram_service_orange_bitmap.png"}}" alt="" style="max-width: 90px">
                  </div>
                  <div class="col s12">
                    <h5 class="center">Dienstleistung</h5>
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <p>Ob Schulung, Beratung, Programmierung, Schnittstellen-Design oder Support – ein Software-System ist immer nur so gut wie die Implementierung im organisatorischen Zusammenhang. Mit einem Team von fachlich versierten Mitarbeitern kümmern wir uns um die zielgerechte Einführung unserer Systeme – stets im persönlichen Kontakt zwischen Kunde und Mitarbeiter. Wir sprechen nicht nur Programmiersprachen, sondern auch die Sprachen unserer Branchen – damit wir ohne Umwege gemeinsam zu effektiven Lösungen gelangen. <a href="#" class="mdsorange-text">Mehr lesen...</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!---------- Mobile Teaser ------->

        <div class="grey lighten-4 hide-on-med-and-up">
          <div class="row">
            <div class="container" style="padding-top: 50px">
              <div class="col s12">
                <div class="row">
                  <div class="col s12 center">
                    <img src="{{"/assets/img/pictogram_intelligence_orange_bitmap.png"}}" alt="" style="max-width: 90px">
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <h5 class="center">Intelligente Lösungen</h5>
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <p>Ob Event- oder Facility Management, professionelle Beratung oder Systemanpassung, Schnittstellen-Design oder Business Intelligence, Serverhosting oder Support: Bei <span class="mdsorange-text">more dimensions</span> erhalten Sie integrierte Werkzeuge und eine nachhaltige Betreuung für Ihren Arbeitsalltag. Durch die Kombination von Standardlösungen für Ihre Branche und individueller Anpassung befreien wir Ihre Mitarbeiter von Dingen, die eine intelligente Software für Sie erledigen kann – damit Sie sich wieder jenen Tätigkeiten widmen können, bei denen der Mensch gefragt ist.</p>
                  </div>
                </div>
              </div>

              <div class="col s12">
                <div class="row">
                  <div class="col s12 center">
                    <img src="{{"/assets/img/pictogram_stage_curtains_bitmap.png"}}" alt="" style="max-width: 90px">
                  </div>
                  <div class="col s12">
                    <h5 class="center">Veranstaltungsmanagement</h5>
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <p>Mit unserer Branchen-Lösung <span class="mdsorange-text">evis</span> bilden wir die Basis für das integrierte Management von Eventlocations, Konzerthäusern, Orchestern und Festivals. Ob Sie Ihre Projekte künstlerisch und organisatorisch planen und budgetieren, über die <span class="mdsorange-text">evis</span>-Kommunikationstools mit ihrem Publikum kommunizieren oder ihr Personal disponieren wollen – <span class="mdsorange-text">evis</span> bildet durch die richtige Auswahl der Module nahezu jede Konstellation des Veranstaltungsmanagements ab.</p>
                  </div>
                </div>
              </div>

              <div class="col s12">
                <div class="row">
                  <div class="col s12 center">
                    <img src="{{"/assets/img/pictogram_factory_violet_bitmap.png"}}" alt="" style="max-width: 90px">
                  </div>
                  <div class="col s12">
                    <h5 class="center">Facility Management</h5>
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <p>Mit der Standard-Lösung <span class="mdsorange-text">pit-fm</span> unseres Partners pit-cup GmbH sowie zahlreichen von uns entwickelten Erweiterungen steht Ihnen eine erweiterbare Plattform zur Verfügung, in der Gebäude- und Flächenmanagement, Instandhaltung, Investitionsplanung sowie Schnittstellen zu weiteren Systemen für einen reibungslosen und effektiven Informationsfluss im Facility Management sorgen.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="container">
              <div class="col s12">
                <div class="row">
                  <div class="col s12 center">
                    <img src="{{"/assets/img/pictogram_business_intelligence_orange_bitmap.png"}}" alt="" style="max-width: 90px">
                  </div>
                  <div class="col s12">
                    <h5 class="center">Business Intelligence</h5>
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <p>Auf Basis der Power-BI-Tools von Microsoft verdichten wir Ihre Daten – ob mit <span class="mdsorange-text">evis</span> oder <span class="mdsorange-text">pit-fm</span> als Quelle oder zusätzlichen Datenbanken, die bei Ihnen im Einsatz sind. Wir schaffen die Verbindung zu Ihren Detailinformationen aus Rechnungswesen, Ticketing, Personalmanagement sowie öffentlichen Datenquellen und verdichten diese in Form intuitiver Dashboards, die Ihnen in Sekundenschnelle einen Überblick über Ihr unternehmerisches Handeln verschaffen.</p>
                  </div>
                </div>
              </div>

              <div class="col s12">
                <div class="row">
                  <div class="col s12 center">
                    <img src="{{"/assets/img/pictogram_hosting_orange_bitmap.png"}}" alt="" style="max-width: 90px">
                  </div>
                  <div class="col s12">
                    <h5 class="center">Hosting</h5>
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <p>Mit unserer eigenen Serverfarm können wir die von uns angebotenen Systeme hosten, ohne dass Sie sich im Alltag mit der dahinterliegenden Infrastruktur aus Hardware, Datenbanken, Lizenzen, Backups und Sicherheitsvorkehrungen befassen müssen. Wir liefern Ihnen ein Gesamtpaket aus Hard- und Software als Blackbox, das pro Mitarbeiter pro Monat einfach skalier- und kalkulierbar ist.</p>
                  </div>
                </div>
              </div>

              <div class="col s12">
                <div class="row">
                  <div class="col s12 center">
                    <img src="{{"/assets/img/pictogram_service_orange_bitmap.png"}}" alt="" style="max-width: 90px">
                  </div>
                  <div class="col s12">
                    <h5 class="center">Dienstleistung</h5>
                  </div>
                  <div class="col s12" style="text-align: justify">
                    <p>Ob Schulung, Beratung, Programmierung, Schnittstellen-Design oder Support – ein Software-System ist immer nur so gut wie die Implementierung im organisatorischen Zusammenhang. Mit einem Team von fachlich versierten Mitarbeitern kümmern wir uns um die zielgerechte Einführung unserer Systeme – stets im persönlichen Kontakt zwischen Kunde und Mitarbeiter. Wir sprechen nicht nur Programmiersprachen, sondern auch die Sprachen unserer Branchen – damit wir ohne Umwege gemeinsam zu effektiven Lösungen gelangen.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
