*::selection
  background-color: #F66728
  color: #fff

::-webkit-scrollbar
    width: 6px

::-webkit-scrollbar-thumb
  background-color: #F66728

.footer-links

  &:hover
    text-decoration: underline

  &::selection
    background-color: #fff
    color: #F66728

.footer-header

  &::selection
    background-color: #fff
    color: #F66728

// Teamviewer
.teamviewer
  position: fixed
  z-index: 99999
  right: 0

  img
    width: 64px

.custom-nav
  height: 100px


// teamviewer

.teamviewer
  position: fixed
  top: 0px
  right: 0
  height: 64px
  transition: all 0.5s ease-in-out

  &:hover
    background-color: #1F79E9

// Responsive Footer
footer

  .collapsible
    // background-color: #FB5F2B
    color: #000
    border: 0
    box-shadow: none

    .collapsible-header
      background-color: #FB5F2B
      border-bottom: 2px solid #fff
      padding: 0

    .collapsible-body
      padding: 0
      border: 0

      li
        padding: 0.5rem
