---
layout: default
title: Banner
---

<div class="carousel carousel-slider center" data-indicators="true">

{% for banner in site.banner %}

  <div class="carousel-item white-text" href="#one!">
    <div class="banner-content" style="margin: 0 0 0 50px; background-color: #000">
      <div class="col s12">
        <h2 style="position: absolute; margin: 95px 0 0 20px; z-index: 9999">banner.banner-headline</h2>
        <p style="position: absolute; margin: 110px 0 0 0; width: 500px; text-align: justify; z-index: 99999; padding: 20px" class="white-text">banner.banner-text</p>
        <div style="background-color: #000; height: 250px; width: 500px; position: absolute; margin-top: 80px; z-index: 3; opacity: 0.8; border: 1px solid #fff; box-shadow: 0 0 50px #000;"></div>
      </div>
    </div>
    <img src="{{ site.baseurl }}{% include directory url=banner.url %}{{ banner.images[0].url }}" alt="">
  </div>

{% endfor %}

</div>
