---
layout: banner
title: banner
---

  <header id="all_banner">
    <div class="carousel carousel-slider center" data-indicators="true">

      <a style="position: absolute; left: 20px; top: 50%; transform: translate(-50%, 0); z-index: 999; font-size: 30px; cursor: pointer;" onclick="$('.carousel').carousel('prev');"><i style="font-size: 70px" class="material-icons white-text">keyboard_arrow_left</i></a>
      <a style="position: absolute; right: 0px; top: 50%; transform: translate(-50%, 0); z-index: 999; font-size: 30px; cursor: pointer;" onclick="$('.carousel').carousel('next');"><i style="font-size: 70px" class="material-icons white-text">keyboard_arrow_right</i></a>

      {% for banner in site.banner %}

        <div class="carousel-item white-text" href="#one!">
          <img src="{{ site.baseurl }}{% include directory url=banner.url %}{{ banner.images[0].url }}" alt="">
        </div>

      {% endfor %}

    </div>

    <script type="text/javascript">
      $('.carousel.carousel-slider').carousel({fullWidth: true});
    </script>

  </header>
